@media (min-width: 769px){
	.hover:hover .edit { visibility:visible; }

	.edit { visibility:hidden; }

	.containerOfShot {
		max-width: 600px;
		max-height: 600px;
		min-height: 300px;
	}

	.sizeOfShot {
		max-width: 600px;
		max-height: 600px;
	}

	/*shotPreview {
		max-width: 100%;
		max-height: 100%;
	}*/

	/*.modal-content {
		width: 1000px !important;
	}*/

	#containerOfShotOutSide {
		overflow:hidden;
		position: relative;
		padding: 0;
		max-width: 300px;
		max-height: 600px;
		background-color: #000;
	}

	.containerOfShotPreview {
		max-width: 300px;
		max-height: 600px;
	}

	#cutShotPreview {
		max-width: 100%;
		max-height: 100%;
		transition: all 0.6s;
	}
	
	#cutShotPreview:hover {
		transform: scale(1.2);
		opacity: 0.4;
		cursor:pointer;
	}
	 
	#editForShot {
		border-radius: 100px;
		border-width: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		/*pointer-events: none;*/
	}

	#editForShot:hover {
		border-radius: 100px;
		background-color: rgba(235, 97, 0, .9) !important;
		color: white !important;
	}

	#editForShot:hover + #cutShotPreview {
		transform: scale(1.2);
		opacity: 0.4;
	}

	#preview-pane {
		/*position: absolute;
		right: 0;*/
	    overflow: hidden;
	    margin-left: 3px;
	    box-shadow: 10px 10px 10px black;
	    border: 2px solid;
	}

    #preview-pane .preview-container {
	    width: 300px;
	    height: 300px;
    }

    .jcrop-keymgr {
		opacity: 0;
	}

	#smallSource {
		border-radius: 50%;
	}

	#post {
		resize: none !important;
		border: 0 !important;
	}

	#post:focus {
		border: 0 !important;
		-webkit-box-shadow: none !important;
	}

	.dropdown-toggle:after {
		border: none !important;
		content: "" !important;
	}

	.postEdit {
		width: 100%;
		height:100%;
		top: 0;
		left: 0;
		position: absolute;
		resize : none;
		overflow: hidden;
	}

	pre {
		font-size: 100% !important;
	}

	.containerOfTextarea {
		position: relative;
	}

	#forAutoResize {
		visibility: hidden;
		width: 100%;
		white-space: normal;
		display: block;
	}

	.containerOfPhotoPreview {
		display: inline-block;
		width: 100px;
		height: 100px;
		margin-left: 5px;
	}

	.photoPreview {	
		width:100%;
	    height:0;
	    padding-bottom: 100%;
	    overflow:hidden;
	    background-position: center center !important;
	    background-repeat: no-repeat !important;
	    background-size:cover !important;
	}

	#containerOfStoriesShot {
		max-width: 300px;
		max-height: 600px;
	}
}

@media (max-width: 768px){
	.edit{ visibility:visible; }
}